.home__page {
  height: 100%;

  background: url('/bg/home-desktop.png') no-repeat center center fixed;
  background-size: cover;

  @media (max-width: 720px) {
    background: url('/bg/home-mobile.png') no-repeat center center fixed;
    background-size: cover;
  }
}