@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Shantell Sans", cursive;

  font-weight: 500;
}

#root {
  height: 100%;
}

/* 모달 애니메이션 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut,
div:has(>.fadeOut)>div:first-child {
  animation: fadeOut 0.3s forwards;
}

.fadeIn {
  animation: fadeIn 0.3s forwards;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}